h1
{
    text-align: ;
}
a
{
    text-decoration:none;
}
img
{
    float: right;
}
bdo
{
    unicode-bidi: bidi-override;
}
html
{
    
    background-image: url("../Gifs/sky.gif");
    background-attachment: fixed;
}
